// Place all the styles related to the Compulsories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.b-compulsories {

}

.b-compulsories-toolbar {

}

.b-compulsories-disciplines {
  &-discipline {

  }
}

.b-compulsories-list {
  list-style: none;
  &-compulsory {
    display: inline-block;
    background-color: #e7e7e7;
    padding: 5px;
    border: solid 1px #d3d3d3;
    &-actual-icon {
      float: right;
      &:before {
        font-family: FontAwesome;
        content: '\f00c';
        color: dodgerblue;
      }
    }
    &-image {
      display: block;
      height: 250px;
    }
    &-actions {
      margin-top: 1rem;
      text-align: center;
      list-style: none;
      &-action {
        display: inline-block;
        margin-right: 1px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
